/* Eye: base is hazel */

@include make_eye('dark-blue') {
    -webkit-filter: hue-rotate(170deg) brightness(90%) saturate(100%) contrast(140%);
    filter: hue-rotate(170deg) brightness(90%) saturate(100%) contrast(140%);
}

@include make_eye('light-blue') {
    -webkit-filter: hue-rotate(160deg) brightness(180%) saturate(120%) contrast(100%);
    filter: hue-rotate(160deg) brightness(180%) saturate(120%) contrast(100%);
}

@include make_eye('purple') {
    -webkit-filter: hue-rotate(-120deg) brightness(80%) saturate(200%) contrast(190%);
    filter: hue-rotate(-120deg) brightness(80%) saturate(200%) contrast(190%);
}

@include make_eye('hazel') {
    -webkit-filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
    filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
}

@include make_eye('amber') {
    -webkit-filter: hue-rotate(0deg) brightness(170%) saturate(100%) contrast(100%);
    filter: hue-rotate(0deg) brightness(170%) saturate(100%) contrast(100%);
}

@include make_eye('green') {
    -webkit-filter: hue-rotate(30deg) brightness(140%) saturate(100%) contrast(100%);
    filter: hue-rotate(30deg) brightness(140%) saturate(100%) contrast(100%);
}

@include make_eye('lightgreen') {
    -webkit-filter: hue-rotate(30deg) brightness(170%) saturate(160%) contrast(100%);
    filter: hue-rotate(30deg) brightness(170%) saturate(160%) contrast(100%);
}

@include make_eye('red') {
    -webkit-filter: hue-rotate(335deg) saturate(200%) brightness(100%) contrast(140%);
    filter: hue-rotate(335deg) saturate(200%) brightness(100%) contrast(140%);
}