/* Hair: base is red */

@include make_hair('black') {
    -webkit-filter: hue-rotate(0deg) saturate(0%) brightness(40%) contrast(100%);
    filter: hue-rotate(0deg) saturate(0%) brightness(40%) contrast(100%);
}

@include make_hair('platinumblond') {
    -webkit-filter: hue-rotate(57deg) saturate(250%) brightness(180%) contrast(60%) sepia(0.75);
    filter: hue-rotate(57deg) saturate(250%) brightness(180%) contrast(60%) sepia(0.75);
}

@include make_hair('blond') {
    -webkit-filter: hue-rotate(60deg) saturate(130%) brightness(135%) contrast(100%);
    filter: hue-rotate(60deg) saturate(130%) brightness(135%) contrast(100%);
}

@include make_hair('blue') {
    -webkit-filter: hue-rotate(210deg) saturate(200%) brightness(60%) contrast(150%);
    filter: hue-rotate(210deg) saturate(200%) brightness(60%) contrast(150%);
}

@include make_hair('brown') {
    -webkit-filter: hue-rotate(40deg) saturate(100%) brightness(80%) contrast(100%);
    filter: hue-rotate(40deg) saturate(100%) brightness(80%) contrast(100%);
}

@include make_hair('lightbrown') {
    -webkit-filter: hue-rotate(40deg) saturate(100%) brightness(100%) contrast(110%);
    filter: hue-rotate(40deg) saturate(100%) brightness(100%) contrast(110%);
}

@include make_hair('strawberryblond') {
    -webkit-filter: hue-rotate(30deg) saturate(110%) brightness(110%) contrast(100%);
    filter: hue-rotate(30deg) saturate(110%) brightness(110%) contrast(100%);
}

@include make_hair('ginger') {
    -webkit-filter: hue-rotate(55deg) saturate(200%) brightness(110%) contrast(100%);
    filter: hue-rotate(55deg) saturate(200%) brightness(110%) contrast(100%);
}

@include make_hair('green') {
    -webkit-filter: hue-rotate(90deg) saturate(100%) brightness(100%) contrast(100%);
    filter: hue-rotate(90deg) saturate(100%) brightness(100%) contrast(100%);
}

@include make_hair('teal') {
    -webkit-filter: hue-rotate(165deg) saturate(100%) brightness(100%) contrast(100%);
    filter: hue-rotate(165deg) saturate(100%) brightness(100%) contrast(100%);
}

@include make_hair('pink') {
    -webkit-filter: hue-rotate(-20deg) saturate(70%) brightness(130%) contrast(100%);
    filter: hue-rotate(-20deg) saturate(70%) brightness(130%) contrast(100%);
}

@include make_hair('hotpink') {
    -webkit-filter: hue-rotate(320deg) saturate(100%) brightness(120%) contrast(100%);
    filter: hue-rotate(320deg) saturate(100%) brightness(120%) contrast(100%);
}

@include make_hair('softpink') {
    -webkit-filter: hue-rotate(0deg) saturate(30%) brightness(190%) contrast(100%);
    filter: hue-rotate(0deg) saturate(30%) brightness(190%) contrast(100%);
}

@include make_hair('purple') {
    -webkit-filter: hue-rotate(-80deg) saturate(110%) brightness(60%) contrast(200%);
    filter: hue-rotate(-80deg) saturate(110%) brightness(60%) contrast(200%);
}

@include make_hair('red') {
    -webkit-filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
    filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
}

@include make_hair('crimson') {
    -webkit-filter: hue-rotate(0deg) saturate(155%) brightness(75%) contrast(135%);
    filter: hue-rotate(0deg) saturate(155%) brightness(75%) contrast(135%);
}

@include make_hair('white') {
    -webkit-filter: hue-rotate(0deg) saturate(0%) brightness(160%) contrast(100%);
    filter: hue-rotate(0deg) saturate(0%) brightness(160%) contrast(100%);
}

@include make_hair('snowwhite') {
    -webkit-filter: hue-rotate(0deg) saturate(0%) brightness(190%) contrast(100%);
    filter: hue-rotate(0deg) saturate(0%) brightness(190%) contrast(100%);
}