#map-display-container {
    width: 100%;
    position: relative;

    img {
        display: block;
    }

    #background-layer {
        z-index: -1;
    }

    .location-single {
        position: absolute;
        transition: margin-top $mapLocTransition;
        margin-top: 0;

        .location-light {
            position: absolute;
            top: 0;
            left: 0;
        }

        .location-active-trigger {
            position: absolute;
            z-index: 1;
        }

        &.link-active {
            &.location-is-hovered {
                margin-top: -10px;
            }

            // DEV
            border: solid 3px blue;
        }
    }
}