#map-display-container {
    width: 100%;
    position: relative;

    img {
        display: block;
    }

    #background-layer {
        z-index: -1;
    }

    .location-single {
        position: absolute;


        .location-light {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}