$red: #EC3535;
$pink: #E40081;
$purple: #AA4BC8;
$blue: #4372FF;
$light-blue: #559BC0;
$teal: #08C1C1;
$green: #38B20A;
$platinum: #FEF593;
$gold: #FFD700;
$orange: #f28500;
$strawberry: #F08C51;
$tangerine: #f28500;
$brown: #aa7243;
$light-brown: #C5793A;
$gray: #929292;
$light-gray: #B7B7B7;

$white: #eee;

$action-brat: #B75D41;
$action-meek: #C44B8B;
$action-def: #D20000;
$action-sub: #AA4BC8;
$action-lewd: #E04880;

$mapLocTransition: 0.3s;

$layers: (
    'bg': 0,
    'backhair': 10,
    'base': 20,
    'hirsute': 21,
    'eyes': 30,
    'sclera': 35,
    'mouth': 40,
    'blush': 50,
    'tears': 55,
    'hair': 60,
    'brow': 62,
    'lashes': 64,
    'under': 75,
    'legsacc': 80,
    'feetacc': 85,
    'lower': 90,
    'upper': 95,
    'collar': 100,
    'rightarm': 105,
    'leftarm': 105,
    'rightarmclothes': 110,
    'leftarmclothes': 110,
    'faceacc': 125,
    'headacc': 130
);